django-taggit==0.22.1
django-taggit-serializer==0.1.5
django-dynamic-preferences==1.5
jinja2==2.10
django-rest-auth==0.9.3
django-post-office==3.0.4
django-logentry-admin==1.0.4
django-admin-honeypot==1.1.0
pyxero