<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="3; URL={{ redirect_url }}?v=0.91.0">
        <title>Loading...</title>
        <style>
            div.middle {
                width: 918px;
                height: 350px;
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                margin: auto;
            }

            .page-header { background-color: red !important; } 
        </style>
    </head>
    <body>
        <div class="middle">
            <img src="/static/images/LOGO.jpg" width="918" height="236" alt="Cormack Concreting">
            <h1>Loading {{ title }}...</h1>
            <h2>Please wait...</h2>
        </div>
    </body>
</html>