<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="3; URL={{ redirect_url }}?v={{ version }}">
        <title>Loading...</title>
        <style>
            div.middle {
                width: 350px;
                height: 350px;
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="middle">
            <img src="https://s3-ap-southeast-2.amazonaws.com/cdn.ocom.com.au/assets/images/Ocom+Software+Logo.png"
                 width="350" height="250" alt="Ocom Software">
            <h1>Loading {{ title }}...</h1>
            <h2>Please wait...</h2>
        </div>
    </body>
</html>